VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_GTM_ID=GTM-XXXXXXX
VITE_GADS_ID=AW-XXXXXXXXX
VITE_GADS_CONVERSION_LABEL=xxxxxxxxxxxxxxxx
VITE_META_PIXEL_ID=000000000000000
VITE_TIKTOK_PIXEL_ID=XXXXXXXXXXXXXXXXXXXXXXXX
VITE_LINKEDIN_PARTNER_ID=0000000
VITE_WA_NUMBER=51987654321
VITE_WA_MESSAGE=Hola, quiero hacer el diagnóstico gratuito para mi negocio
VITE_WA_MSG_EMPR=Hola, estoy interesado en el plan Emprendedor
VITE_WA_MSG_PLATA=Hola, estoy interesado en el plan MYPE Plata
VITE_WA_MSG_ORO=Hola, estoy interesado en el plan MYPE Oro
VITE_WA_MSG_DIAM=Hola, estoy interesado en el plan MYPE Diamante
VITE_WA_MSG_FORMALIZA=Hola, quiero formalizar mi empresa con Declara Xpress
VITE_WA_MSG_SUNAT=Hola, recibí una comunicación de SUNAT y necesito ayuda
VITE_WEB3FORMS_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
VITE_RECAPTCHA_SITE_KEY=6LeXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# RECAPTCHA_SECRET_KEY=6LeXXXXXXXXXXXXXXXXXXXXXXXXXXXX   (solo backend)
VITE_SITE_URL=https://declaraxpress.com
